.triangle {
    width: 0;
    height: 0;
    display: inline-block;
}

.triangle {
    width: 0;
    height: 0;
    display: inline-block;
}

.triangle-up(@width; @height; @color;) {
    .triangle;
    border-left: round(@width/2) solid transparent;
    border-right: round(@width/2) solid transparent;
    border-bottom: @height solid @color;
}

.triangle-down(@width; @height; @color;) {
    .triangle;
    border-left: round(@width/2) solid transparent;
    border-right: round(@width/2) solid transparent;
    border-top: @height solid @color;
}

.triangle-right(@width; @height; @color;) {
    .triangle;
    border-top: round(@height/2) solid transparent;
    border-bottom: round(@height/2) solid transparent;
    border-left: @width solid @color;
}

.triangle-left(@width; @height; @color;) {
    .triangle;
    border-top: round(@height/2) solid transparent;
    border-bottom: round(@height/2) solid transparent;
    border-right: @width solid @color;
}